<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="logDNA-http" class="com.github.imdurgadas.appender.LogDNAAppender">
    <appName>LogDNA-Logback-Aoo</appName>
    <includeStacktrace>true</includeStacktrace>
    <ingestKey>${INGESTION_KEY}</ingestKey>
    <logDnaUrl>${LOGDNA_URL}</logDnaUrl>
  </appender>

  <appender name="logDNA" class="ch.qos.logback.classic.AsyncAppender">
    <appender-ref ref="logDNA-http"/>
  </appender>


  <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <charset>utf8</charset>
      <pattern>%-30(%d{HH:mm:ss.SSS} [%thread]) %-5level %m%n</pattern>
    </encoder>
  </appender>

  <root level="DEBUG">
    <appender-ref ref="console"/>
    <appender-ref ref="logDNA"/>
  </root>
</configuration>